name: CI Windows x642
  
on:  
  push:  
  pull_request:  
  repository_dispatch:  
    types: [run_build]  
  
permissions:  
  contents: write  
  
env:  
  ACTIONS_ALLOW_USE_UNSECURE_NODE_VERSION: true  
  
jobs:  
  build:  
    runs-on: ubuntu-20.04  
    steps:  
    - uses: actions/checkout@v4  
      
    - name: Install MXE  
      run: |  
        sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys C6BF758A33A3A276  
        sudo apt-add-repository 'deb [arch=amd64] https://mirror.mxe.cc/repos/apt focal main'  
        sudo apt update  
        sudo apt install mxe-x86-64-w64-mingw32.shared-gcc mxe-x86-64-w64-mingw32.shared-qt5  
      
    - name: Compile RA  
      run: |  
        export PATH=/usr/lib/mxe/usr/bin:$PATH  
        export MOC=/usr/lib/mxe/usr/x86_64-w64-mingw32.shared/qt5/bin/moc  
        ./configure --host=x86_64-w64-mingw32.shared  
        make clean  
        make -j$(getconf _NPROCESSORS_ONLN)  
      
    - name: Upload artifacts  
      uses: actions/upload-artifact@v4  
      with:  
        name: retroarch-x64-${{ steps.slug.outputs.sha8 }}  
        path: retroarch.exe