name: CI Windows x64 (MXE)  
  
on:  
  push:  
    branches: [main]  # 只在主分支触发  
  workflow_dispatch:  # 手动触发  
  
permissions:  
  contents: write  # 需要写入权限  
  
jobs:  
  build:  
    runs-on: ubuntu-latest  
    container:  
      image: git.libretro.com:5050/libretro-infrastructure/libretro-build-mxe-win64-cross:latest  
      options: --user root  
      
    steps:  
    - uses: taiki-e/checkout-action@v1  
      with:  
        token: ${{ secrets.GITHUB_TOKEN }}  # 需要token才能推送  
  
    - name: Compile RA  
      run: |  
        export MOC=/usr/lib/mxe/usr/x86_64-w64-mingw32.shared/qt5/bin/moc  
        ./configure --host=x86_64-w64-mingw32.shared  
        make clean  
        make -j$(getconf _NPROCESSORS_ONLN)  
  